<header>
  <nav>
    <ul>
      <li routerLink="" style="cursor: pointer;">
        <img src="assets/img/logo.png" alt="Logo" class="logo" />
        <h1>Linker</h1>
      </li>

      <li class="SectionBar">
        <a routerLink="">Inicio</a>
        <a routerLink="">Perfil Postulante</a>
        <a routerLink="">Perfil Empresa</a>
        <a routerLink="match">Match</a>
        <a routerLink="">Bienvenido</a>
      </li>

      <li>
        <button class="LoginButton" routerLink="login">Iniciar Sesión</button>
      </li>
    </ul>
  </nav>
</header>
