section {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  border-radius: 20px;
  background: var(--bg-gradient);
  height: auto;
  margin: 3rem auto;
  padding: 2.5rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);

  --bg-gradient: radial-gradient(
      circle at 94.35384114583333% 89.61588541666666%,
      #84affb 0%,
      20%,
      rgba(132, 175, 251, 0) 40%
    ),
    radial-gradient(
      circle at 6.503906249999999% 88.037109375%,
      rgba(255, 225, 215, 0.99) 0%,
      25%,
      rgba(255, 225, 215, 0) 50%
    ),
    radial-gradient(
      circle at 6.165364583333333% 12.617187499999998%,
      #ff6648 0%,
      42%,
      rgba(255, 102, 72, 0) 70%
    ),
    radial-gradient(
      circle at 93.6865234375% 11.42578125%,
      #3462fa 0%,
      42%,
      rgba(52, 98, 250, 0) 70%
    ),
    radial-gradient(circle at 48.9013671875% 49.521484375%, #000000 0%, 100%, rgba(0, 0, 0, 0) 100%);
  --bg-overlay-color: transparent;
}

h2 {
  color: var(--white);
  justify-self: center;
  font-size: 40px;
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  letter-spacing: normal;
  margin-bottom: 1rem;
}

label {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
}

a {
  display: block;
  text-decoration: underline;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  color: white;
  transition: color 0.3s;
  margin-top: 1rem;
}

a:hover {
  color: var(--gray);
  cursor: pointer;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(132, 175, 251, 0.4);
  background-color: var(--color-light);
}

input {
  background-color: #222;
  border: 1px solid white;
  color: white;
  padding: 10px 40px;
  font-size: 16px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s;
}

input:hover {
  background-color: #000000;
}

button {
  padding: 14px 20px;
  background-color: white;
  border-radius: 5px;
  border: none;
  font-weight: 800;
  font-size: 14px;
  color: var(--gray);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 18px;
  margin-top: 0.5rem;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  gap: 40px;
}

.icons i {
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 768px) {

  .loginForm {
    border-radius: 0%;
    width: 100%;
    padding: 2rem 1.5rem;
    margin: 0;
  }

  h2 {
    font-size: 2rem;
  }
}