<section>
  <button type="button" (click)="agregarIdioma()">+ Añadir idioma</button>

  @for (i of idiomas.controls; track $index; let index = $index) {
  <div class="habilidad-item">
    <button type="button" class="dropdown-button" (click)="toggleListaIdioma(index)">
      {{ i.value || 'Seleccione un idioma' }}
    </button>

    @if (mostrarListaIdioma[index]) {
    <div class="dropdown-list">
      @for (idi of idiomasDisponibles; track idi.id_idioma) {
      <div (click)="seleccionarIdioma(index, idi)" class="dropdown-item">
        {{ idi.nombre }}
      </div>
      }
    </div>
    }

    <button type="button" class="btn btn-danger btn-delete" (click)="eliminarSelectIdioma(index)">
      −
    </button>
  </div>
  }
  <button (click)="aplicarFiltros()">Aplicar filtros</button>
</section>
