.btn-login {
  background-color: var(--coral);
  color: var(--white);
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);  
}

.btn-login:hover {
  background-color: var(--blue);
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.section-1 {
  background: url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f") center/cover no-repeat;
  color: var(--white);
  padding: 12rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.section-1-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.section-1 .text-content {
  flex: 1;
}

.section-1 h1 {
  font-size: 2.5rem;
  font-family: 'Syne';
  font-weight: 700;
  margin-bottom: 1rem;
}

.section-1 p {
  margin-bottom: 2rem;
  font-family: "Raleway";
}

.feature-1 {
  background-color: var(--color-light);
  padding: 3% 20%;
  text-align: center;
}

.feature-1 img {
  margin-top: 1rem;
  width: 70%;
  height: 50%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

img {
  transition: transform 0.4s ease;
}
img:hover {
  transform: scale(1.08);
}

.feature-3,
.feature-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin: 0;
  padding: 0;
}


.feature-2 .image-content img,
.feature-3 .image-content img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.feature-2 .text-content,
.feature-3 .text-content {
  width: 50%;
  padding: 2% 5%;
}

.feature-2 .text-content h2,
.feature-3 .text-content h2,
.feature-1 h2 {
  font-size: 2.5rem;
  font-family: "Syne", sans-serif;
  margin-bottom: 1.5rem;
  overflow: hidden;
  animation: typing 4s steps(40, end) forwards, blink .75s step-end infinite;
}


.feature-2 .text-content p,
.feature-3 .text-content p,
.feature-1 p {
  color: var(--gray);
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: "Rubik", sans-serif;
}

.feature-2 {
  background-color: var(--coral);
}

.feature-3 {
  background-color: var(--soft-blue);
}

.feature-2 .image-content,
.feature-3 .image-content {
  width: 50%;
}

hr {
  border: none;
  border-top: 2px solid black;
  width: 100%;
  margin: 30px 0px;
}

.section-3-steps {
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
  padding: 4rem 3rem;
}

.steps-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-around;
  margin-top: 2rem;
}

.steps {
  width: 30%;
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
}

.steps:hover {
  background-color: #414141;
}


.steps img {
  width: 90px;
  height: 90px;
  margin-bottom: 1rem;
}

.steps h3 {
  color: var(--white);
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
}

.steps p {
  color: var(--white);
  font-family: "Rubik", sans-serif;
  line-height: 1.4;
}

.section-3-steps h2 {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Syne", sans-serif;
  color: var(--white);
  margin-bottom: 1rem;
}

@media (max-width: 768px) {

  .section-1 {
    padding: 10rem 3rem;
    min-height: 60vh;
  }

  .section-1 h1 {
    font-size: 2rem;
    font-family: 'Syne';
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .feature-1 {
    padding: 8rem 3rem;
    text-align: center;
  }

  h2{
    font-size: 1.5rem;
    font-family: "Syne", sans-serif;
    margin-bottom: 0.5rem;
  }


  .feature-1 img {
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }

  .feature-3,
  .feature-2 {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
  }

  .feature-2 .image-content,
  .feature-3 .image-content {
    width: 100%;

  }

  .feature-2 .text-content,
  .feature-3 .text-content {
    width: 100%;
    padding: 2% 5%;
  }

  .section-3-steps {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--gray);
  }

  .steps-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .steps h2{
    color: var(--white);
  }

  .steps img {
    margin-bottom: 1rem;
  }

  .steps{
    width: 80%;
  }

  .steps h3 {
    color: var(--white);
    margin-bottom: 1rem;
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
  }

  .steps p {
    color: var(--white);
    font-family: "Rubik", sans-serif;
    line-height: 1rem;
    font-size: 0.5rem;
  }

}