.card-section {
  background-color: rgba(0, 0, 0, 0.7);
  width: 45%;
  height: 75% !important;
  min-width: 50vh;
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
}

.card-section div {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.vacant-image {
  border-radius: 10px;
  width: 100%;
  height: 95%;
  max-height: 63vh;
  object-fit: cover;
  margin-bottom: 2vh;
}

h4 {
  position: absolute;
  color: white;
  font-weight: 500;
  top: 72%;
  left: 10px;
}

p {
  position: absolute;
  color: white;
  font-weight: 300;
  width: 75%;
  overflow: hidden;
  top: 78%;
  left: 10px;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.floating-icons {
  position: absolute;
  width: 100%;
  height: 100%;
}

.filter {
  position: absolute;
  background-color: rgba(163, 162, 160, 0.7);
  border-radius: 0px;
  padding: 3px;

  top: 10px;
  right: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.filter:active {
  transform: scale(0.85);
  background-color: rgba(163, 162, 160, 0.9);
}

.black-row {
  position: absolute;
  top: 50%;
  left: 10px;
}

.black-row-mirror {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: scaleX(-1);
}

.up-row {
  position: absolute;
  top: 70%;
  right: 10px;
  transform: translateX(-50%) rotate(90deg);
}

.floating-icons img {
  width: 30px !important;
  height: 30px !important;
  cursor: pointer;
  object-fit: contain;
}

.option-buttons {
  background-color: #495a79;
  justify-content: space-between !important;
  display: flex;
  border-radius: 100px;
  width: 85% !important;
  height: 15% !important;
  align-items: center;
  flex-direction: row;
}

.option-buttons img {
  width: 85px !important;
  height: 85px !important;
  margin: 10px;
  object-fit: contain;
  cursor: pointer;
}

@media (max-width: 768px) {
  .card-section {
    background-color: transparent;
    width: 100% !important;
    height: 100% !important;
    border-radius: 0px;
    min-height: 0vh;
    padding: 0px;
    padding-left: 3%;
    padding-right: 3%;
  }

  .vacant-image {
    width: 100% !important;
    height: 100% !important;
    max-height: none !important;
    border-radius: 0px !important;
    margin-bottom: 0;
  }

  .option-buttons {
    display: none !important;
    /* position: absolute;
    background-color: transparent;
    bottom: 20%;
    width: 100%;
    height: auto !important;
    scale: 0.8; */
  }

  .image-container {
    height: 100% !important;
    width: 100% !important;
    top: 0 !important;
  }

  .image-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%; /* qué tan alto quieres el degradado */
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    pointer-events: none; /* no bloquea clics */
    border-radius: inherit; /* respeta bordes si los hay */
  }

  .floating-icons {
    z-index: 1000;
  }

  .vacant-title {
    z-index: 1000;
  }

  .vacant-descrip {
    z-index: 1000;
  }
}
