:root {
  --blue: #0259DD;   /* Azul fuerte */
  --coral: #FF6648; /* Naranja coral */
  --soft-blue: #84AFFB;    /* Azul claro */
  --peach: #FFE1D7;      /* Durazno pastel */
  --gray: #2E2E2E;      /* Texto oscuro */
  --color-light: #F5F6FA;     /* Fondo claro */
  --white: #FFFFFF;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", "Inter", sans-serif;
}