:root {
  --blue: #0259DD;   /* Azul fuerte */
  --coral: #FF6648; /* Naranja coral */
  --soft-blue: #84AFFB;    /* Azul claro */
  --peach: #FFE1D7;      /* Durazno pastel */
  --gray: #2E2E2E;      /* Texto oscuro */
  --color-light: #F5F6FA;     /* Fondo claro */
  --white: #FFFFFF;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", "Inter", sans-serif;
}

.swal-custom {
    background: rgba(0, 0, 0, 0.733);
    border-radius: 12px;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--white);
    text-align: center;
    backdrop-filter: blur(10px);
  }

.swal-title {
  font-size: 1.2rem;
  font-weight: 800 ;
}

.swal2-timer-progress-bar {
  background: linear-gradient(90deg, var(--blue), var(--soft-blue)) !important;
  height: 5px ;
  border-radius: 6pxt;
}


