<section>
  <div class="perfil-container">
    <form [formGroup]="postulanteForm" (ngSubmit)="OnPostulante()">
      <h2>PERFIL POSTULANTE</h2>

      <div *ngIf="!isLoading">
        <div class="perfil-header">
          <img src="assets/img/match-user-icon.webp" class="foto" />
          <span class="nombre">{{ name }}</span>
        </div>
      </div>

      <hr />

      <div class="campo">
        <div class="mini-titulo">
          <img src="assets/img/icono-cv.png" class="icon" />
          <label>Mi CV</label>
        </div>
        <select formControlName="experiencia">
          <option value="">Experiencia</option>
          <option value="1">Junior</option>
          <option value="3">Semi-Senior</option>
          <option value="5">Senior</option>
        </select>
        <input 
            type="file" 
            id="cv" 
            (change)="onCvChange($event)"
            style="display: none" 
          />
          <label for="cv" class="file-label"> 
            {{ cvFile ? cvFile.name : 'Seleccionar currículum' }}
          </label>
      </div>

      <div formArrayName="estudios">
        <div
          *ngFor="let estudio of estudiosForm.controls; let i = index"
          [formGroupName]="i"
          class="campo"
        >
          <div class="mini-titulo">
            <img src="assets/img/icono-libros.png" class="icon" />
            <label>Estudio {{ i + 1 }}</label>
          </div>
          <input type="text" placeholder="Título" formControlName="titulo" />
          <select formControlName="nivel">
            <option value="">Seleccione un nivel</option>
            <option value="Primaria">Primaria</option>
            <option value="Secundaria">Secundaria</option>
            <option value="Técnico">Técnico</option>
            <option value="Universitario">Universitario</option>
            <option value="Postgrado">Postgrado</option>
            <option value="Maestría">Maestría</option>
            <option value="5">Doctorado</option>
          </select>
          <input
            type="file"
            id="certificado-estudios-{{ i }}"
            (change)="onCertificadoEstudioChange($event, i)"
            style="display: none"
          />
          <label for="certificado-estudios-{{ i }}" class="file-label"> 
            {{ certificadosEstudios.get(i)?.name || 'Seleccionar certificado estudio' }}
          </label>
        </div>
      </div>
      <div class="botones-container">
        <button
          type="button"
          class="agregar"
          (click)="agregarEstudio()"
          *ngIf="estudiosForm.length < 5"
        >
          AGREGAR
        </button>
        <button
          type="button"
          class="eliminar"
          (click)="eliminarEstudio(estudiosForm.length - 1)"
          *ngIf="estudiosForm.length > 1"
        >
          ELIMINAR
        </button>
      </div>

      <div formArrayName="habilidades">
        <div
          *ngFor="let habilidad of habilidadesForm.controls; let i = index"
          [formGroupName]="i"
          class="campo"
        >
          <div class="mini-titulo">
            <img src="assets/img/icono-bombilla.png" class="icon" />
            <label>Habilidad {{ i + 1 }}</label>
          </div>
            <select formControlName="nombre">
              <option value="">Selecciona una habilidad</option>
              <option 
                *ngFor="let hab of catalogoHabilidades" 
                [value]="hab.id_habilidad"
              >
                {{ hab.nombre_habilidad }}
              </option>
            </select>
          <input
            type="file"
            id="certificado-habilidades-{{ i }}"
            (change)="onCertificadoHabilidadChange($event, i)"
            style="display: none"
          />
          <label for="certificado-habilidades-{{ i }}" class="file-label"> 
            {{ certificadosHabilidades.get(i)?.name || 'Seleccionar certificado habilidad' }}
          </label>
        </div>
      </div>
      <div class="botones-container">
        <button
          type="button"
          class="agregar"
          (click)="agregarHabilidad()"
          *ngIf="habilidadesForm.length < 5"
        >
          AGREGAR
        </button>
        <button
          type="button"
          class="eliminar"
          (click)="eliminarHabilidad(habilidadesForm.length - 1)"
          *ngIf="habilidadesForm.length > 1"
        >
          ELIMINAR
        </button>
      </div>

      <div formArrayName="idiomas">
        <div
          *ngFor="let idioma of idiomasForm.controls; let i = index"
          [formGroupName]="i"
          class="campo"
        >
          <div class="mini-titulo">
            <img src="assets/img/icono-idioma.png" class="icon" />
            <label>Idioma {{ i + 1 }}</label>
          </div>
          <select formControlName="nombre">
            <option value="">Selecciona un idioma</option>
            <option 
              *ngFor="let idm of catalogoIdiomas" 
              [value]="idm.id_idioma"
            >
              {{ idm.nombre }}
            </option>
          </select>
          <input
            type="file"
            id="certificado-idiomas-{{ i }}"
            (change)="onCertificadoIdiomaChange($event, i)"
            style="display: none"
          />
          <label for="certificado-idiomas-{{ i }}" class="file-label"> 
            {{ certificadosIdiomas.get(i)?.name || 'Seleccionar certificado de idioma' }}
          </label>
        </div>
      </div>
      <div class="botones-container">
        <button
          type="button"
          class="agregar"
          (click)="agregarIdioma()"
          *ngIf="idiomasForm.length < 5"
        >
          AGREGAR
        </button>
        <button
          type="button"
          class="eliminar"
          (click)="eliminarIdioma(idiomasForm.length - 1)"
          *ngIf="idiomasForm.length > 1"
        >
          ELIMINAR
        </button>
      </div>

      <button type="submit" class="btn-guardar">Guardar</button>
    </form>
  </div>
</section>
